<div class="container">
    
    <div class="row mb-10">
        <h1>Films</h1>
        <hr>
            <input type="text" 
                    name="search"
                    [(ngModel)]="searchText"
                    placeholder="Search" 
                    class="form-control">
    </div>
    
    <div class="row" style="padding-top:20px">
        <div class="col-8">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Release Date</th>
                        <th>Producer</th>
                        <th></th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let film of films | filter: searchText">
                        <td>{{film.title}}</td>
                        <td>{{film.release_date}}</td>
                        <td>{{film.producer}}</td>
                        <td>
                            <button (click)="load(film.characters)" class="btn btn-primary" >Characters</button>
                        </td>
                    </tr>
                </tbody>
        
                
            </table>
        </div>

        <div class="col-4">
            <div class="alert alert-warning">
                <strong>Characters</strong>
                <hr/>
                <ol *ngFor="let c of characters">
                    <li >
                       {{c}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
    

    

</div>


